<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename = 'css/buttoncss.css') }}">
    <title>Document</title>
</head>
<body>
    <label for = "tipoUsuario"> Seleccione el tipo de usuario : </label> <br>
    <div class="container">
        <input type = "radio" name = "tipoUsuario" value="Preceptor" checked/><br>
        <label for ="" id="coolBotton">Preceptor</label>
        <input type = "radio" name = "tipoUsuario" value="Padre" /><br>
        <label for ="" id="coolBotton">Padre</label>
    </div>

</body>
</html>