<!DOCTYPE html>

<html lang="es">

    <head>
        <meta charset="utf-8"/>
        <title>Pagina web</title>
        <meta name="Descripcion" content="Pagina Inicio Colegio San Miguel"/>
        <meta name="author" content = "Herman"/>
        <meta name="keywords" content ="Pagina Inicio, Preceptor"/>

    </head>
    <body>
        <header>
            <h1> Mi Blog</h1>
        </header>
        
        <nav>
            <ul>
                <li> Principal </li>
                <li> Ayuda </li>
                <li> Contacto </li>
    
            </ul>

        </nav>

        <section>
            
            <article>
                <hgroup>                
                    <h1> Titulo primer articulo</h1>
                    <h2> Subtitulo primer articulo</h2>
                </hgroup>

                <time datetime="12-10-2018"> Publicado 12-10-2018 </time>
                <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis, ratione odio eius explicabo temporibus quod delectus assumenda suscipit facere perferendis repellat et aperiam non atque corrupti in! Explicabo, maxime quam.</p>
                <img src="C:\Program Files (x86)\.InfoGaby\ESCRITORIO Gaby Info\POO 2023\U5\aplicacion 2023\Practico2SoriaHermanGabriel\static\img\sanmiguelLogo.png" alt="Imagen del Colegio San Miguel">

                <footer>
                    <p>Comentario (0)</p>
                </footer>

                <address>
                    <a href="http://google.com">Visita Google</a>
                </address> 

            </article>

            <article>
                <hgroup>
                    <h1> Titulo segundo articulo</h1>
                    <h2> Subtitulo primer articulo</h2>
                </hgroup>
                
                <time datetime="12-10-2018"> Publicado 12-10-2018 </time>
                <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit, incidunt vero nam molestias magnam ea quis voluptate aspernatur asperiores, repudiandae fuga! Fuga placeat assumenda commodi incidunt deleniti culpa, quam similique.</p>
                
                <footer>
                    <p>Comentario (0)</p>
                </footer>

            </article>
        
        </section>

        <aside>
            <blockquote cite ="http://google.com">
                Mensaje 1
            </blockquote>
            
            <blockquote cite ="">
                Mensaje 2
            </blockquote>
            
        </aside>


        <footer>
            Derechos Reservados 2010-2018
        </footer>

        
    

    
    </body>

</html>
