<!DOCTYPE html>
<html>
<head>
	<title>Mi pagina</title>
</head>
<body>
	<header>
		<nav>
			<ul>
				<li><a href="perfil.html">Mi perfil</a></li>
				<li><a href="inicio.html">Inicio</a></li>
				<li><a href="me_gusta.html">Me Gusta</a></li>
			</ul>
		</nav>

	</header>
	<article>
		<section>
			<h1>EStas en la pagina principal</h1>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam ducimus repellendus rem odio laboriosam, maxime molestias, reiciendis exercitationem eveniet, voluptas sunt id tenetur ab consequatur vero? Laudantium suscipit amet  
			</p>> 
		</section>
	</article>
	<aside>
		<h3> cont extra</h3>
		<p> texto</p>
	</aside>
	<footer>
		<h4>Contactos</h4>
		<a href="https://twitter.com/lautaronidas">Twitter</a>
		<a href="https://www.instagram.com/plato32_32/">Instagram</a>
	</footer>

</body>
</html>