<!DOCTYPE html>
<html>
<head>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width">
 <title>Colegio San Miguel</title>
 <link href="{{}}" rel="stylesheet" type="text/css" />
 
</head>
<body>
<header>
 <h2>Colegio San Miguel</h2>
</header>
<section>
 <nav>
    <ul>
    <li><a href="#">Inicio</a></li>
    <li><a href="#">Opción 1</a></li>
    <li><a href="#">Opción 2</a></li>
    </ul>
 </nav> 
 <!-- si va a enviar datos al servidor use etiqueta form, si solo va a mostrar datos use la etiqueta article-->
 <form>
    <h1>Título de la funcionalidad</h1>
    <p>texto</p>
 </form>

</section>
<footer>
    <p>Dirección y teléfono del colegio</p>
</footer>
</body>
</html>