<!DOCTYPE html>
<html>
<head>
   {% extends "base_template.html" %}
   {% block title%} Colegio San Miguel {% endblock %}
   
</head>

<body>
   {% block content %}

   <header>
      <h2>Colegio San Miguel</h2>
   </header>

   




   <!-- si va a enviar datos al servidor use etiqueta form, si solo va a mostrar datos use la etiqueta article-->
   
    <article>
        
         <h5>
            Usuario : {{preceptor.nombre}} {{preceptor.apellido}}
         </h5>
         
                

        <h4>Seleccione Un curso para registrar Asistencias :</h4>
        <br>
         <!-- {{ cursos }} -->  
        <form action="{{url_for('AsistenciaCurso')}}" method = 'post' >
            <p>
               {% if cursos is not none :%}
                    <select name="idcurso" id="curso">
                        {% for curso in cursos %}

                        <option value="{{curso.id}}"> Año : {{curso.anio}} | División :  {{curso.division}}</option>
                        <br>
                        {% endfor %}
                  
                    </select>
               {% endif %} 
            <button type="submit">Enviar</button>  
            </p>
        </form>
        
    </article>
     
 <footer>
   <p>Dirección y teléfono del colegio</p>
</footer>
{% endblock %}


</body>
</html>